* {
  box-sizing: border-box;
}
body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  border: 10px solid white;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  font-size: large;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  margin: 16px auto;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
}